<div class="wrapper">
    
    <!-- Admin Sidebar  -->
    <app-admin-sidemenu></app-admin-sidemenu>

    <!-- Page Content  -->
    <div id="content">

        <!-- Admin Header  -->
        <app-admin-header></app-admin-header>

        <div class="container-fluid demo">
            <div class="team-single">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team-single-text padding-50px-left sm-no-padding-left mt-3">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h4 class="font-size38 sm-font-size32 xs-font-size30">LEAVE TYPE DETAILS</h4>
                                <button class="btn btn-action-back" type="submit" (click)="goBackTo()">
                                    <span><i class="fas fa-chevron-left"></i></span>
                                    <span class="ml-2">Back</span>
                                </button>
                            </div>
                            
                            <div class="contact-info-section margin-40px-tb mt-5">
                                <ul class="list-style9 no-margin">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row d-flex">
                                                    <div class="col-md-4 d-flex align-items-baseline">
                                                        <i class="fas fa-graduation-cap text-orange"></i>
                                                        <strong class="margin-10px-left text-orange ml-3">Leavetype Name</strong>
                                                    </div>
                                                    <div class="col-md-8 d-flex align-items-baseline">
                                                        <span>:</span>
                                                        <p class="ml-5">{{ leaveData?.leaveTypeName | titlecase }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row d-flex">
                                                    <div class="col-md-4 d-flex align-items-baseline">
                                                        <i class="fas fa-graduation-cap text-orange"></i>
                                                        <strong class="margin-10px-left text-orange ml-3">Leavetype Short Name</strong>
                                                    </div>
                                                    <div class="col-md-8 d-flex align-items-baseline">
                                                        <span>:</span>
                                                        <p class="ml-5">{{ leaveData?.leaveShortName }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row d-flex">
                                                    <div class="col-md-4 d-flex align-items-baseline">
                                                        <i class="fas fa-graduation-cap text-orange"></i>
                                                        <strong class="margin-10px-left text-orange ml-3">Leavetype Short Code</strong>
                                                    </div>
                                                    <div class="col-md-8 d-flex align-items-baseline">
                                                        <span>:</span>
                                                        <p class="ml-5">{{ leaveData?.leaveShortCode }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row d-flex">
                                                    <div class="col-md-4 d-flex align-items-baseline">
                                                        <i class="fas fa-graduation-cap text-orange"></i>
                                                        <strong class="margin-10px-left text-orange ml-3">Description</strong>
                                                    </div>
                                                    <div class="col-md-8 d-flex align-items-baseline">
                                                        <span>:</span>
                                                        <p class="ml-5">{{ leaveData?.description }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row d-flex">
                                                    <div class="col-md-4 d-flex align-items-baseline">
                                                        <i class="fas fa-graduation-cap text-orange"></i>
                                                        <strong class="margin-10px-left text-orange ml-3">Status</strong>
                                                    </div>
                                                    <div class="col-md-8 d-flex align-items-baseline emp-status">
                                                        <span>:</span>
                                                        <!-- <p class="badge badge-success ml-5" *ngIf="leaveData?.status === 1">Active</p>
                                                        <p class="badge badge-danger ml-5" *ngIf="leaveData?.status === 0">Inactive</p> -->
                                                        <span class="badge badge-pill badge-success ml-5" *ngIf="leaveData?.status === 1">
                                                            Active
                                                        </span>
                                                        <span class="badge badge-pill badge-danger ml-5" *ngIf="leaveData?.status === 0">
                                                            InActive
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>