<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidemenu></app-sidemenu>

    <!-- Page Content  -->
    <div id="content">

        <app-header></app-header>

        <div class="container">
            <div class="row mgTp">
                <form class="col-md-6 offset-md-3">
                    <h3 class="title">Employee Signup</h3>
                    <hr class="divisor">
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input type="email" class="form-control" name="firstname" id="firstnameid" placeholder="Type firstname">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="email" class="form-control" name="lastname" id="lastnameid" placeholder="Type lastname">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="email" class="form-control" name="username" id="usernameid" placeholder="Type username">
                    </div>
                    <div class="form-group">
                        <label for="emailid">Email Id</label>
                        <input type="email" class="form-control" name="emailname" id="emailid" placeholder="Type email id">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="pwdname" id="pwdid" placeholder="Type password">
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" name="cnfpwdname" id="cnfpwdid" placeholder="Type confirm password">
                    </div>
                    <button type="submit" class="btn btn-primary topBtn">
                        <i class="fa fa-sign-in"></i> Sign Up
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>