<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidemenu></app-sidemenu>

    <!-- Page Content  -->
    <div id="content">

        <app-header></app-header>

        <div class="form-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="header">Update Profile Information</div>
                            <div class="form-content">
                                <h4 class="heading">Personal Details</h4>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="employeeid" class="control-label field-required">
                                            <i class="fa fa-user-o"></i>
                                        </label>
                                        <input type="text" class="form-control" name="employeename" id="employeenameid" placeholder="Employee Id" 
                                            [(ngModel)]="employeeId" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="firstname" class="control-label field-required">
                                            <i class="fa fa-user"></i>
                                        </label>
                                        <input type="text" class="form-control" name="firstname" id="firstnameId" placeholder="Firstname" 
                                            [(ngModel)]="firstName" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="middlename" class="control-label field-required">
                                            <i class="fa fa-user-o"></i>
                                        </label>
                                        <input type="text" class="form-control" name="middlename" id="middlenameId" placeholder="Middlename" 
                                            [(ngModel)]="middleName" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="lastname" class="control-label field-required">
                                            <i class="fa fa-user"></i>
                                        </label>
                                        <input type="text" class="form-control" name="lastname" id="lastnameId" placeholder="Lastname"
                                            [(ngModel)]="lastName" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="username" class="control-label field-required">
                                            <i class="fa fa-user-o"></i>
                                        </label>
                                        <input type="text" class="form-control" name="username" id="usernameId" placeholder="Username"
                                            [(ngModel)]="userName" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="emailid" class="control-label field-required">
                                            <i class="fa fa-envelope"></i>
                                        </label>
                                        <input type="text" class="form-control" name="emailname" id="emailnameId" placeholder="Email Id"
                                            [(ngModel)]="emailId" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="phonenumber" class="control-label field-required">
                                            <i class="fa fa-phone"></i>
                                        </label>
                                        <input type="number" class="form-control" name="phonenumber" id="phonenumberId" placeholder="Phone number"
                                            [(ngModel)]="phoneNumber" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="dateofbirth" class="control-label field-required">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                        <input type="date" class="form-control" name="dobname" id="dobnameId" placeholder="Date of Birth" 
                                            [(ngModel)]="dateOfBirth" required>
                                    </div>
                                </div>
                                <h4 class="heading">Address Details</h4>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="address" class="control-label field-required">
                                            <i class="fa fa-address-book-o"></i>
                                        </label>
                                        <input type="text" class="form-control" name="addressname" id="addressnameId" placeholder="Address" 
                                            [(ngModel)]="address" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="cityname" class="control-label field-required">
                                            <i class="fa fa-address-book"></i>
                                        </label>
                                        <input type="text" class="form-control" name="cityname" id="citynameId" placeholder="City" 
                                            [(ngModel)]="cityName" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="statename" class="control-label field-required">
                                            <i class="fa fa-address-book-o"></i>
                                        </label>
                                        <input type="text" class="form-control" name="statename" id="statenameId" placeholder="State" 
                                            [(ngModel)]="stateName" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="countryname" class="control-label field-required">
                                            <i class="fa fa-address-book"></i>
                                        </label>
                                        <input type="text" class="form-control" name="countryname" id="countrynameId" placeholder="Country" 
                                            [(ngModel)]="countryName" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="zipcode" class="control-label field-required">
                                            <i class="fa fa-address-book-o"></i>
                                        </label>
                                        <input type="number" class="form-control" name="zipcode" id="zipcodeId" placeholder="Zipcode" 
                                            [(ngModel)]="zipCode" required>
                                    </div>
                                </div>
                                <h4 class="heading">Professional Details</h4>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="department" class="control-label field-required">
                                            <i class="fa fa-address-card"></i>
                                        </label>
                                        <input type="text" class="form-control" name="departmentname" id="departmentId" placeholder="Department" 
                                            [(ngModel)]="department" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="designation" class="control-label field-required">
                                            <i class="fa fa-address-card-o"></i>
                                        </label>
                                        <input type="text" class="form-control" name="designationname" id="designationId" placeholder="Designation" 
                                            [(ngModel)]="designation" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="registrationdate" class="control-label field-required">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                        <input type="date" class="form-control" name="regName" id="regId" placeholder="Date of Registration" 
                                            [(ngModel)]="registrationDate" required>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button type="submit" class="btn btn-default">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>