<!-- Normal Sidebar  -->
<nav id="sidebar" *ngIf="!authUserService.isLoggedIn() && false">
    <div class="sidebar-header">
        <h3>Employee Leave System</h3>
    </div>

    <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p> -->
        <li [ngClass]="{'active': href === '/login'}">
            <a [routerLink]="['/login']">Employee Login</a>
        </li>
        <li [ngClass]="{'active': href === '/signup'}">
            <a [routerLink]="['/signup']">Employee Signup</a>
        </li>
        <li [ngClass]="{'active': href === '/admin-login'}">
            <a [routerLink]="['/admin-login']">Admin Login</a>
        </li>
        <!-- <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li> -->
    </ul>

    <!-- <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul> -->
</nav>

<!-- Employee Sidebar  -->
<nav id="sidebar" *ngIf="authUserService.isLoggedIn() || true">
    <div class="sidebar-header">
        <h3>Employee Leave System</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li [ngClass]="{'active': href === '/view-profile'}">
            <a [routerLink]="['/view-profile']">My Profile</a>
        </li>
        <li [ngClass]="{'active': href === '/update-profile'}">
            <a [routerLink]="['/update-profile']">Update Profile</a>
        </li>
        <li [ngClass]="{'active': href === '/change-password'}">
            <a [routerLink]="['/change-password']">Change Password</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" [attr.aria-expanded]="setAriaExpandFun()" class="dropdown-toggle">Leaves</a>
            <ul class="collapse list-unstyled" id="pageSubmenu" [ngClass]="{'show': href === '/apply-leave' || href === '/leave-history'}">
                <li [ngClass]="{'active': href === '/apply-leave'}">
                    <a [routerLink]="['/apply-leave']">Apply Leave</a>
                </li>
                <li [ngClass]="{'active': href === '/leave-history'}">
                    <a [routerLink]="['/leave-history']">Leave History</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Logout</a>
        </li>
        <!-- <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Download Source</a>
        </li> -->
    </ul>
</nav>