<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidemenu></app-sidemenu>

    <!-- Page Content  -->
    <div id="content">

        <app-header></app-header>

        <div class="form-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="form-container">
                            <h3 class="title">CHANGE PASSWORD</h3>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="currentpwd" class="field-required">Current Password</label>
                                        <input type="password" class="form-control" name="currentpwd" id="currentpwdId" 
                                            placeholder="Type current password" [(ngModel)]="currentPassword" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="newpwd" class="field-required">New Password</label>
                                        <input type="password" class="form-control" name="newpwd" id="newpwdId" 
                                            placeholder="Type new password" [(ngModel)]="newPassword" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="confirmpwd" class="field-required">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirmpwd" id="confirmpwdId" 
                                            placeholder="Type confirm password" [(ngModel)]="newPassword" required>
                                    </div>
                                </div>
                                <button class="btn updatepwd mt-3">UPDATE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>