<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidemenu></app-sidemenu>

    <!-- Page Content  -->
    <div id="content">

        <app-header></app-header>

        <div class="container">
            <div class="row mgTp">
                <form class="col-md-6 offset-md-3">
                    <h3 class="title">Employee Forgot Password</h3>
                    <hr class="divisor">
                    <div class="form-group">
                        <label for="employeeid">Employee Id</label>
                        <input type="text" class="form-control" name="employeename" id="employeeid" placeholder="Type Employee Id">
                    </div>
                    <div class="form-group">
                        <label for="emailname">Email Address</label>
                        <input type="email" class="form-control" name="emailname" id="emailid" placeholder="Type Email Address">
                    </div>
                    <button type="submit" class="btn btn-primary topBtn">
                        <i class="fa fa-angle-double-right"></i> Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>