/* ---------------------------------------------------
    ADMIN DASHBOARD STYLE
----------------------------------------------------- */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  height: 100%;
  margin-left: 250px;
}

.media .fa {
  font-size: 2em;
  color: #7386d5;
}

/* table css styles */
.panel {
  font-family: "Roboto", sans-serif;
  padding: 0;
  border: none;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12);
}
.panel .panel-heading {
  background: #fff;
  padding: 15px;
  border-radius: 0;
}
.panel .panel-heading .title {
  color: #32393f;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0;
}
.panel .panel-heading .btn {
  font-size: 15px;
  padding: 6px 15px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease 0s;
  background-color: #7386d5;
  color: white;
}
.panel .panel-heading .btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.panel .panel-body {
  border-radius: 0;
}
.panel .panel-body .table thead tr th {
  color: #333;
  font-size: 19px;
  font-weight: 400;
  padding: 12px;
}
.panel .panel-body .table thead tr th:last-child {
  /* width: 120px; */
}
.panel .panel-body .table tbody tr td {
  color: #555;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  vertical-align: middle;
  border-color: #e7e7e7;
}
.panel .panel-body .table .user_icon {
  width: 50px;
  height: 50px;
  margin: 0 5px 0 0;
  border-radius: 100px;
  display: inline-block;
}
.panel .panel-body .table .user_icon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.panel .panel-body .table tbody td span.label {
  font-size: 13px;
}
.panel .panel-body .table tbody .action-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li {
  margin: 0 3px;
  display: inline-block;
}
.panel .panel-body .table tbody .action-list li a {
  color: #f41127;
  background-color: rgb(244 17 39 / 0.11);
  font-size: 18px;
  border: none;
  transition: all 0.3s ease;
}
.panel .panel-body .table tbody .action-list li:last-child a {
  color: #7386d5;
  background-color: rgb(13 110 253 / 0.11);
}
.panel .panel-body .table tbody .action-list li a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.panel .panel-footer {
  background-color: #fff;
  padding: 15px;
  border: none;
}
.pagination {
  margin: 0;
}
.pagination li a {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 0 2px;
  border-radius: 30px;
  border: none;
  transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a {
  color: #fff;
  background-color: #7386d5;
}
.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .panel .panel-heading {
    text-align: center;
  }
  .panel .panel-heading .title {
    margin: 0 0 15px;
  }
  .panel .panel-heading .text-right {
    text-align: center;
  }
}

.panel-body table thead {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.panel-body table thead tr th {
  vertical-align: middle !important;
}
.panel-body table tbody {
  display: table;
  table-layout: fixed;
  width: 100%;
}
