<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidemenu></app-sidemenu>

    <!-- Page Content  -->
    <div id="content">

        <app-header></app-header>

        <div class="container">
            <div class="row mgTp">
                <form class="col-md-6 offset-md-3">
                    <h3 class="title">Employee Login</h3>
                    <hr class="divisor">
                    <div class="form-group">
                        <label for="empid">Employee Id</label>
                        <input type="text" class="form-control" name="empname" id="empid" placeholder="Type employee id">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="pwdname" id="pwdid" placeholder="Type password">
                    </div>
                    <button type="submit" class="btn btn-primary topBtn">
                        <i class="fa fa-sign-in"></i> Log In
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>