<div class="wrapper">
    <!-- Sidebar  -->
    <app-sidemenu></app-sidemenu>

    <!-- Page Content  -->
    <div id="content">

        <app-header></app-header>

        <div class="form-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="form-container" *ngIf="showPage === 'forgot'">
                            <h3 class="title">FORGOT PASSWORD</h3>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="emailname" class="field-required">Email Id</label>
                                        <input type="email" class="form-control" name="emailname" id="emailid"
                                            placeholder="Type email id" [(ngModel)]="emailId" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="empname" class="field-required">Employee Id</label>
                                        <input type="test" class="form-control" name="empname" id="empid"
                                            placeholder="Type employee id" [(ngModel)]="employeeId" required>
                                    </div>
                                </div>
                                <button class="btn sendotp mt-3" (click)="gotoPage('otp')">SEND</button>
                            </form>
                        </div>
                        <div class="form-container" *ngIf="showPage === 'otp'">
                            <h3 class="title">VERIFY EMAIL</h3>

                            <form class="otp-form">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                <label class="margin-align">Enter the Code</label>
                                                <div class="form-group-input otp-form-group mb-3">
                                                    <input type="text" minlength="1" maxlength="1"
                                                        class="form-control otp-inputbar">
                                                    <input type="text" minlength="1" maxlength="1"
                                                        class="form-control otp-inputbar">
                                                    <input type="text" minlength="1" maxlength="1"
                                                        class="form-control otp-inputbar">
                                                    <input type="text" minlength="1" maxlength="1"
                                                        class="form-control otp-inputbar">
                                                    <input type="text" minlength="1" maxlength="1"
                                                        class="form-control otp-inputbar">
                                                    <input type="text" minlength="1" maxlength="1"
                                                        class="form-control otp-inputbar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="errmsg" class="text-center"></div>
                            </form>

                            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:5}">
                            </ng-otp-input>

                            <!-- <form class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="emailname" class="field-required">Email Id</label>
                                        <input type="email" class="form-control" name="emailname" id="emailid" 
                                            placeholder="Type email id" [(ngModel)]="emailId" required>
                                    </div>
                                </div>
                                <button class="btn sendotp mt-3" (click)="gotoPage('password')">VERIFY</button>
                            </form> -->
                        </div>
                        <div class="form-container" *ngIf="showPage === 'password'">
                            <h3 class="title">UPDATE PASSWORD</h3>
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="newpwd" class="field-required">New Password</label>
                                        <input type="password" class="form-control" name="newpwd" id="newpwdId"
                                            placeholder="Type new password" [(ngModel)]="newPassword" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="confirmpwd" class="field-required">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirmpwd" id="confirmpwdId"
                                            placeholder="Type confirm password" [(ngModel)]="confirmPassword" required>
                                    </div>
                                </div>
                                <button class="btn sendotp mt-3">UPDATE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>